1.Look through ALL files before making changes.
2.Go through all files and check structure and flow throughout frontend and backend.
3. Keep a knowledge of when functionality works and keep this in mind before making new changes or adding new features.
